.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(81, 81, 99, 0.2);
}
.login {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px gray;
  width: 40%;
  padding: 40px;
}
.login .parent {
  padding: 0px 20px;
}
.section {
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
}
.section > div:first-child {
  background: #337ab7;
  padding: 10px 0px;
  color: #ffff;
  font-size: 14px;
  border-bottom: 1px solid #777;
  width: 50%;
  text-align: center;
  text-align: center;
}

.section > div:last-child {
  width: 50%;
  text-align: center;
  padding: 10px 0px;
  border-bottom: 1px solid #d6d3d3f9;
}
.register:hover {
  background-color: #f78421;
  color: white;
}
.email span {
  margin-right: 4px;
  color: red;
}
.email {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}

.password span {
  margin-right: 4px;
  color: red;
}
.borderRed {
  border: 1px solid red !important;
}
.input {
  border: 1px solid black;
  padding-left: 10px;
  margin-bottom: 10px;
  border-color: #dbdbdb;
  color: #777;
}
.input input {
  width: 88%;
  background: transparent;
}
.input input:focus {
  outline: none;
}

.iconEye {
  cursor: pointer;
  width: 18px;
}
.icon {
  width: 20px;
  font-size: 15px;
}

.input input {
  border: none;
  padding: 10px 0px;
  margin-left: 10px;
}
.password {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}
.link a {
  color: #337ab7;
  text-decoration: none;
}
.link a:hover {
  text-decoration: underline;
}
.loginButton {
  margin-top: 20px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%);
  color: #fff;
  cursor: pointer;
}
.errorText {
  font-size: 12px;
  color: red;
  margin-bottom: 7px;
  font-style: italic;
}
.error {
  color: red;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .login {
    width: 90%;
  }
  .iconEye {
    width: 5%;
  }
  .icon {
    width: 2%;
  }
}
