.pageDetailProduct{
  padding: 40px 140px;
  .detailProduct{
    display: flex;
    justify-content: space-between;
    .headerProduct{
      width: 76%;
      .imgProduct{
        display: flex;
        margin-top: 10px;
        padding-top: 20px;
        
        & >div img{
          width: 60px;
          margin-right: 15px;
          border-radius: 5px;
          cursor: pointer;
        }
        .borderYellow{
          border: 1px solid yellow;
        }
      }
    .product{
      display: flex;
      .imgProduct{
       width: 40%;
       margin-right: 20px;
      }
      .imgProduct img{
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
      .imgProduct img:hover{
        transform: scale(1.1);      
  
      }
      .detailnformation{
        width: 60%;
        & >div:first-child{
          font-size: 1.25rem;
          color: rgba(58, 58, 58, 0.991);
        }
        .number{
          margin: 10px 0px 30px 0px;
          display: flex;
          & >div:first-child{
            padding-right: 10px;
            color: rgba(118,118,118);
          }
          &>div:nth-child(2){
            color: rgba(118,118,118);

          }
          & >div:last-child{
            color: rgba(118,118,118);
            padding: 0px 10px;
          } 
          & img{
            width: 60px;
            margin-right: 10px;
          }
          &>div:nth-child(3){
            color: rgba(118,118,118);
          }
        }
        & >div:nth-child(3){
          margin: 20px 0px;
          font-size: .875rem;
        }
        &> div:nth-child(4){
          color: rgba(229,77,62);
          font-family: Oswald;
          margin-bottom: 10px;
          font-size: 1.875rem;
          font-weight: 600;
        }
        & span{
          margin-left: 5px;
          color: rgba(229,77,62);
          font-family: Oswald;
          font-size: 1.875rem;
          font-weight: 600;
          text-decoration: underline;
        }
        .salePrice{
          display: flex;
          text-align: center;
          &>div:first-child{
            margin-right: 10px;
            font-size: 1.25rem;
            color: rgba(118,118,118);
            font-weight: 400;
            text-decoration: line-through;
            font-family: Oswald;
          } 
          &>div:last-child{
            padding: 0px 12px ;
            padding-top: 7px;
            background-color: rgba(255,204,51);
            border-radius: 0.135rem;
            font-size: 15px;
            font-family: "Be Vietnam Pro";
          }
        }
        .quantity{
          display: flex;
          align-items: center;
          margin: 25px 0px;
          &>div:first-child{
            margin-right: 80px;
            font-family: 'Oswald';
            font-weight: 600;
            color: rgba(61,61,61);
            font-size: 1.125rem;
          }
          .count{
            border-radius: 0.375rem;
            border: 1px solid rgba(209,209,209);
            display: flex;
            &>div:first-child{
              font-size: 30px;
              cursor: pointer;
              color: rgba(61,61,61);
            }
            &>div:last-child{
              cursor: pointer;
              font-size: 30px;
              color: rgba(61,61,61);
            }
            &>div:nth-child(2){
              padding: 5px 10px;
              display: flex;
              align-items: center;
              border-left: 1px solid rgba(209,209,209);
              border-right: 1px solid rgba(209,209,209);
            }
            &>div{
                padding: 0px 10px;
               }
          }
        }
        .orderProducts{
          display: flex;
          .addCart{
            width: 40%;
            border: 1px solid black;
            border-radius: 0.25rem;
            display: flex;
            align-items: center;
            padding-left: 20px; 
            margin-right: 10px;
            &>div:last-child{
              font-size: 1.125rem;
              font-weight: 600;
              font-family: 'Oswald';
            }
            cursor: pointer;
            &>div:first-child{
              margin-right: 10px;
            }
            .icon{
              font-size: 20px;
            }
          }
          .buyNow{
            width: 45%;
            cursor: pointer;
            text-align: center;
            padding: 3px 10px;
            border-radius: 0.25rem;
            border: 1px solid rgba(255,204,51);
            background-color: rgba(255,204,51);
            &:hover{
              background-color: rgb(250, 212, 97);
            }
          &>div:first-child{
            margin-bottom: 10px;
            font-size: 1.125rem;
            font-weight: 600;
            margin-right: 10px;
            font-family: 'Oswald';
          }
          &>div:last-child{
            font-size: 13px;
            font-family: "Be Vietnam Pro";
          }
          }
        }
      }
    }
    .informationItem{
      margin-top: 20px;
      .itemProduct{
        &>div:nth-child(2){
          border: 1px solid rgba(209,209,209);
          padding: 45px 0px 45px 25px;
          font-family: 'Be Vietnam';
        }
        .instruct{
          display: flex;
          &>div:first-child{
            border-top: 1px solid rgba(209,209,209);
            border-left: 1px solid rgba(209,209,209);
            border-top-left-radius: 10px;
            padding: 10px 20px;
            font-size: 1.125rem;
            font-weight: 600;
            font-family: 'Oswald';
          }
          &>div:nth-child(2){
            border-top: 1px solid rgba(209,209,209);
            border-right: 1px solid rgba(209,209,209);
            border-left: 1px solid rgba(209,209,209);
            padding: 10px 20px;
            font-size: 1.125rem;
            font-family: 'Oswald';
            font-weight: 600;
            background-color: rgba(232,232,232);

          }&>div:last-child{
            border-top: 1px solid rgba(209,209,209);
            border-right: 1px solid rgba(209,209,209);
            border-top-right-radius: 10px;
            background-color: rgba(232,232,232);
            padding: 10px 20px;
            font-size: 1.125rem;
            font-family: 'Oswald';
            font-weight: 600;
          }
        }
        .readMore{
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 10px 0px 20px 0px;
          &>div:first-child{
            text-decoration: underline;
            font-family: 'Be Vietnam';
            font-size: 18px;
            font-style: italic;
            margin-top: 5px;
            margin-right: 15px;
          }
          .iconDown{
            font-size: 25px;
          }
        }
      }
      .CustomerFeedback{
        &>div:first-child{
          width: 20%; 
          border: 1px solid  rgba(209,209,209);
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 10px 0px 10px 20px;
          font-size: 1.125rem;
          font-weight: 600;
          font-family: 'Oswald';
        }
        .feedback{
          border: 1px solid  rgba(209,209,209);
          display: flex;
          justify-content: space-between;
          padding: 30px 0px;
          text-align: center;
          .noFeedback{
            width: 25%;
            &>div:first-child{
              color: rgba(255,204,51);
              font-size: 3.5rem;
              font-family: Oswald;
              
            }
            &>div:last-child{
            color: rgba(95,95,95);
            font-family: 'Be Vietnam';
            margin-top: 10px;
            font-weight: 700;
            font-size: 18px;
            }
            .FontAwesomeIcon{
              .iconStar{
                margin: 0px 10px;
              }
            }
            
          }
          .starOder{
            width: 75%;
            display: flex;
            align-items: center;
            &>div:last-child{
              border: 1px solid rgba(255,204,51);
              border-radius: 5px;
              margin-left: 100px;
              width: 45%;
              padding: 12px ;
              color: rgba(255,204,51);
            }
          }
          .reviewStar{
            width: 35%; 
            .star{
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              &>div:first-child{
                color: rgba(95,95,95);
                font-size: .875rem;
                margin-right: 5px;
              }
              &>div:last-child{
                color: rgba(95,95,95);
              font-size: .875rem;
              }
              .iconStarYellow{
                width: 13px;
              }
              .iconCrossbar{
                width: 65%;
                font-size: 30px;
              }
              .Crossbar{
                width: 70%;
                margin: 0px 5px;
                height: 5px;
                border: 1px solid rgba(209,209,209);
                background-color: rgba(209,209,209);
              }
              #imgStar{
                margin-left: 4px;
              }
            }

          }
        }
      }
    }
    }
    .endProduct{
      width: 20%;
      .support{
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 15px;
        color: rgb(49, 49, 49);
        border: 1px solid rgb(231, 228, 228);
        padding: 15px 12px;
        &>div:last-child{
          margin-left: 6px;
        }
      }
    .oder{
      display: flex;
      align-items: center;
      justify-content: center;
        margin-top: 15px;
        padding: 10px 0px;
        border: 1px solid  rgba(209,209,209);
        border-radius: 8px;
        cursor: pointer;
        &> img{
          width: 18%;

        }
        .hotlineOder{
          margin-left: 15px;
          &>div:first-child{
            margin-bottom: 3px;
            font-size: .875rem;
          }
          &>div:last-child{
            color: rgba(229,77,62,);
            font-family: Oswald;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }
      }
    }
  }
  .otherProducts{
    &>div:first-child{
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Oswald';
      margin: 30px 0px;
    }
    
  .sameProducts{
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    
    .informationProduct{
      padding: 12px;
      cursor: pointer;
      width: 19%;
      // border: 1px solid black;
      border-radius: 6px;
      &:hover{
        box-shadow: 0px 0px 20px rgba(105, 105, 105, 0.863);

      }
      &>div:nth-child(2){
        font-size: 1rem;
        color: rgb(62, 62, 62);
        margin: 8px 0px 10px 0px;

      }
      & img{
        width: 100%;
      }
      .priceProduct{
        display: flex;
        align-items: center;
        &>div:first-child{
          font-size: 1.25rem;
          color: rgba(229,77,62);
          font-family: 'Oswald';
          font-weight: 600;
        }
        & >div:first-child span{
          margin: 0px 6px;
          color: rgba(229,77,62);
          font-family: 'Oswald';
        }
        &>div:last-child{
          color: rgb(185, 181, 181);
          font-size: 14px;
          font-weight: 400;
          font-family: 'Oswald';
          text-decoration: line-through;
        }
        &>div:last-child span{
          font-family: 'Oswald';
          text-decoration: underline;
        }
      }
      &>div:last-child{
        margin-top: 6px;
        width: 40%;

      }
    }

    }
    &>div:nth-child(3){
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Oswald';
      margin: 30px 0px;
    }
  }
}

