.pageContact {
}
.mainContent {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
}
.homeContact {
  display: flex;
  background-color: rgb(232, 232, 232);
}
.homeContact div {
  color: rgba(28, 28, 28, 0.731);
  cursor: pointer;
}
.homeContact > div:first-child {
  margin-right: 15px;
}
.iconBack {
  margin-right: 8px;
  display: none;
}
.contact {
  /* padding: 0px 120px; */
}
.contact div {
  margin-top: 10px;
  font-family: 'Oswald';
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.contactInfo {
  display: flex;
  justify-content: space-between;
}
.comments > div:first-child {
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-size: 1.5rem;
  font-weight: bold;
}
.information {
  margin: 15px 0px;
}
.information > div:first-child {
  margin-bottom: 5px;
}

.information div {
  font-family: Be Vietnam, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.comments {
  width: 50%;
}
.sendComments {
  width: 50%;
}

.sendComments > div:first-child {
  margin-bottom: 15px;
  font-family: 'Oswald';
  font-size: 1.5rem;
  font-weight: bold;
}
.socialNetwork > div:first-child {
  margin-bottom: 5px;
}
.fontIcon > img:nth-child(2) {
  margin: 0px 10px;
}

.loginInformation > div:first-child {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 500;
}

.input {
  height: 50px;
  border-radius: 3px;
  background-color: rgb(238, 239, 239);
  border: 1px solid rgb(222, 220, 220);
}

.groupInput {
  display: flex;
  gap: 40px;
  width: 100%;
}
.inputTextAreal {
  height: 100px !important;
  padding: 12px;
  width: 100%;
  border-radius: 3px;
  background-color: rgb(238, 239, 239);
  border: 1px solid rgb(222, 220, 220);
}
.btnSubmit {
  background-color: rgb(71, 71, 241);
  height: 50px;
  color: white !important;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .pageContact {
    padding: 0px 0px;
    width: 100%;
  }
  .contact > div:first-child {
    margin: 0px;
  }
  .contactInfo {
    display: block;
  }
  .comments {
    width: 100%;
  }
  .sendComments {
    width: 100%;
  }
  .groupInput {
    gap: 10px;
  }
}
