.pageBrand {
  height: 100%;
  width: 100vw;
}

.loginBrand {
  display: flex;
  background-color: rgb(232, 232, 232);
  padding: 10px 140px;
}
.loginBrand div {
  color: rgba(28, 28, 28, 0.731);
  cursor: pointer;
}
.loginBrand > div:last-child {
  margin-left: 10px;
}
.title {
  padding: 10px 140px;
}
.title > div:last-child {
  font-weight: 600;
  font-size: 1.75rem;
  font-family: 'Oswald';
}
.iconBack {
  display: none;
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .pageBrand {
    padding: 0px 20px;
  }
  .title > div:last-child {
    margin: 5px 0px;
    font-size: large;
  }
  .brandParent {
    grid-template-columns: 1fr 1fr;
  }
}
