.header {
  display: flex;
  padding: 10px 0px;
  position: relative;
}
.iconHome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  display: none;
}
.img img {
  width: 30%;
  padding-left: 15px;
  margin-left: 130px;
  cursor: pointer;
}
.header > div:last-child {
  width: 60%;
}
.menu {
  position: relative;
  width: 40%;
}
.listMenu {
  position: absolute;
  /* left: -50px;
  top: -30px; */
  background-color: rgb(0, 0, 0, 0.932);
  padding: 10px;
}
.listMenu div {
  width: 100%;
  font-size: 10px;
  margin-bottom: 20px;
  color: #fff;
}
.listMenu > div:hover {
  color: rgba(255, 204, 51, 0.913);
}
.title {
  margin-bottom: 30px !important;
  border-bottom: 1px solid rgb(232, 230, 230);
}
.iconClose {
  font-size: 20px;
  color: #fff;
  display: flex;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.informationAccount {
  font-weight: 600;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid rgb(167, 167, 167);
  background: rgba(0, 0, 0, 0.128);
  border-radius: 5px;
  cursor: pointer;
}
.search > div:first-child {
  padding: 14px 20px;
  border: 1px solid rgba(0, 0, 0, 0.196);
  font-weight: bold;
  font-size: 20px;
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  background-color: rgba(0, 0, 0, 0.128);
}
.iconSeach {
  color: rgba(163, 163, 163);
  font-size: 20px;
  margin-right: 10px;
}

.loginInput input {
  outline: none;
  border: none;
  padding: 18px 10px;
  background-color: rgba(68, 68, 68, 0.03);
  text-decoration: none;
  width: 300px;
}
.search > div:nth-child(2) {
  border: 1px solid rgba(0, 0, 0, 0.196);
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  margin-right: 15px;
}
.login {
  align-items: center;
  display: flex;
  padding: 15px 25px;
  border-radius: 0.3rem;
  border: 1px solid white;
  font-weight: bold;
  background-color: rgba(255, 204, 51, 0.913);
}
.login div {
  margin-left: 15px;
  cursor: pointer;
}
.icon {
  color: rgba(0, 0, 0, 0.507);
  width: 52px;
  height: 52px;
  border: 1px solid rgba(0, 0, 0, 0.148);
  border-radius: 50%;
  padding: 10px 10px;
  margin-left: 10px;
  background-color: rgba(50, 50, 50, 0.03);
  cursor: pointer;
}
.menuItem {
  position: relative;
}
.selectItem {
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: -25px;
  left: 1120px;
  width: 12%;
  padding: 8px;
}
.detailItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}
.detailItem div {
  margin-left: 8px;
}
.detailItem > div:hover {
  color: rgba(255, 204, 51, 0.913);
}
.option div {
  margin-left: 30px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.option div:hover {
  color: #fff;
}
.option span:hover {
  color: #fff;
}
.option {
  display: flex;
  justify-content: space-around;
  padding: 15px 200px;
  background-color: rgba(255, 204, 51, 0.913);
}
.option span {
  margin-left: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* product section */
.productItem {
  position: absolute;
  background-color: white;
  display: flex;
  padding: 30px 140px;
}
.selectionItem {
  margin-right: 30px;
}
.selectionItem div {
  margin-bottom: 8px;
  cursor: pointer;
}
.selectionItem > div:first-child {
  font-weight: 550;
  margin-left: none;
}
.selectionItem div:first-child:hover {
  color: rgba(255, 204, 51, 0.913);
}
.item div:hover {
  color: rgba(255, 204, 51, 0.913);
}
.item {
  margin-left: 9px;
}
.optionChild {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-around;
  }
  .iconHome {
    display: block;
  }
  .search > div:first-child {
    width: 40%;
    padding: 12px 0px;
    font-size: 7px;
    cursor: pointer;
  }
  .loginInput {
    width: 100%;
    padding: 5px;
    margin-right: 5px !important;
  }
  .iconFabars {
    width: 80%;
  }
  .loginInput input {
    padding: 3px 0px;
    width: 100%;
  }
  .iconSeach {
    display: none;
  }
  .login {
    padding: 5px;
    width: 30%;
  }
  .login img {
    width: 10px;
    margin: 0px;
  }
  .login > div {
    font-size: 10px;
    margin: 5px;
    width: 100%;
  }
  .img img {
    display: none;
  }
  .icon {
    width: 30%;
    height: 40px;
    padding: 3px;
    margin-left: 6px;
  }
  .option {
    display: none;
  }
  .selectItem {
    padding: 0px;
    width: 28%;
    top: -15px;
    left: 276px;
    background-color: rgba(212, 211, 207, 0.913);
  }
  .detailItem {
    margin: 5px;
  }
  .detailItem > div {
    font-size: 10px;
  }
  .iconMenu {
    font-size: 10px;
  }
}
