.searchProduct > div {
  margin-bottom: 15px;
}
.detailCategory {
  display: flex;
}
.detailCategory div {
  border: 1px solid rgb(188, 185, 185);
  color: rgb(92, 91, 91);
  border-radius: 30px;
  padding: 10px 20px;
  margin-right: 40px;
  cursor: pointer;
}
.category > div:first-child {
  font-family: Oswald;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}
.nameProduct {
  margin-top: 10px;
}
.numberPrice {
  display: flex;
}
.nameProduct span {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
.nameProduct input {
  width: 300px;
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  border-color: rgb(184, 182, 182);
}
.numberPrice > div:first-child {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.priceRange {
  margin-left: 30px;
}
.priceRange > span:nth-child(3) {
  margin-left: 30px;
}
.priceRange span {
  color: rgb(92, 91, 91);
}
.priceRange input {
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  border-color: rgb(184, 182, 182);
  margin-left: 6px;
}
.selectPrice span {
  font-family: Oswald;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
}
.selectPrice select {
  padding: 5px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
.pageProduct {
  padding: 20px 135px;
}
.homeProduct {
  display: flex;
  margin-bottom: 30px;
}
.homeProduct div {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(61, 61, 61);
  font-family: 'Be Vietnam Pro';
}
.pageProduct > div:nth-child(2) {
  font-family: Oswald;
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 30px;
}
.newProduct {
  display: flex;
}
.findProducts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}
.findProducts > div:first-child {
  margin-top: 10px;
}
.arrange {
  align-items: center;
  display: flex;
}
.arrange > div:first-child {
  font-weight: 600;
  font-family: Oswald;
}
.arrange select {
  margin-left: 8px;
  padding: 10px 15px;
  border-radius: 5px;
}
.arrange > select option {
  font-size: 14px;
}
.option {
  background-color: rgba(255, 255, 0, 0.76);
}
.homeProduct > div:first-child {
  margin-right: 5px;
}
.listProduct {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.itemProduct {
  padding: 12px;
  width: 25%;
  margin-bottom: 30px;
  position: relative;
}
.stickerPercen {
  padding: 5px;
  position: absolute;
  right: 10px;
  top: -5px;
  width: 22%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e54d3e;
  border-top: 15px solid #e54d3e;
}
.stickerPercen > div:first-child {
  position: absolute;
  border-bottom: 12px solid rgba(229, 77, 62, 0.75);
  border-left: 12px solid transparent;
  top: -64%;
  right: 100%;
}
.percent {
  /* width: 100%;
  position: absolute;
  right: -5%;
  top: -2%; */
  /* font-size: 1; */
  /* width: 15%; */
  /* width: 50%; */
  color: rgb(249, 249, 249);
}
.stickerPercen span {
  /* font-size: 100%; */
  /* margin: 0px 3px; */
  /* width: 10%; */
  /* width: 5%; */
}
.stickerPercen > div:last-child {
  position: absolute;
  border-left: 34px solid transparent;
  border-right: 36px solid transparent;
  border-top: 20px solid #e54d3e;
  top: 100%;
  right: 0%;
}
.product {
  padding: 10px;
  border-radius: 6px;
}
.product:hover {
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(14, 14, 14, 0.3);
}
.images img {
  width: 100%;
}

.loading {
  width: 100%;
  text-align: center;
}

.loading img {
  width: 200px;
}

.activeCategory {
  outline: 2px solid rgb(93, 187, 224) !important;
  border: 1px solid transparent !important;
}
.product > div:nth-child(2) {
  font-family: 'Be Vietnam Pro';
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 10px;
}
.productPrice {
  display: flex;
}
.productPrice > div:first-child {
  font-size: 1.2rem;
  line-height: 1.75rem;
  color: rgba(229, 77, 62);
  margin-right: 8px;
  font-family: Oswald, sans-serif;
}
.productPrice > div:last-child {
  font-size: 0.87rem;
  line-height: 1.25rem;
  text-decoration: line-through;
  color: rgb(163, 163, 163);
}
.productPrice span {
  margin-left: 5px;
  text-decoration: underline;
  font-family: Oswald;
}
.iconStar img {
  width: 80px;
  height: 18px;
  margin-top: 5px;
}
.redirect {
  width: 30%;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 8px;
  margin: auto;
}
.icon {
  border-right: 1px solid rgb(163, 163, 163);
  padding: 10px 12px;
}
.numberOne {
  padding: 10px 12px;
}
.numberOne:hover {
  background-color: rgba(250, 189, 5);
  cursor: pointer;
}
.numberTwo {
  border-right: 1px solid rgb(163, 163, 163);
  background-color: rgba(250, 189, 5);
  padding: 10px 12px;
}
.redirect img:last-child {
  border: none;
}
.icon:hover {
  cursor: pointer;
  background-color: rgba(250, 189, 5);
}
.select {
  padding: 20px 10px;
  width: 22%;
  border: 1px solid rgb(230, 226, 226);
  border-radius: 4px;
}
.priceRange > div:first-child {
  font-family: Oswald, sans-serif;
  font-size: 1.125rem;
  font-weight: 550;
  margin-bottom: 25px;
}
.enterNumber {
  display: flex;
  margin-bottom: 10px;
}
.enterNumber > div:first-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(61, 61, 61);
  width: 55%;
}
.enterNumber > div:last-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(61, 61, 61);
  width: 30%;
}
.characters {
  display: flex;
  justify-content: space-between;
}
.characters > div:first-child {
  font-family: Oswald;
  border: 1px solid rgb(195, 192, 192);
  border-radius: 5px;
  padding: 8px 5px;
  width: 45%;
}
.characters > div:nth-child(2) {
  display: flex;
  align-items: center;
}
.characters > div:last-child {
  font-family: Oswald;
  border: 1px solid rgb(195, 192, 192);
  width: 45%;
  border-radius: 5px;
  padding: 8px 5px;
}
.characters span {
  font-size: 14px;
  color: rgb(161, 158, 158);
}
.apply {
  width: 35%;
  text-align: center;
  padding: 9px 0px;
  border-radius: 8px;
  border: 1px solid rgb(237, 234, 234);
  margin: 20px 0px;
}
.evaluate {
  border-top: 2px solid rgba(237, 236, 236, 0.852);
}
.evaluate > div:first-child {
  margin: 10px 0px 20px 0px;
  font-family: Oswald;
  font-size: 1.125rem;
  font-weight: 550;
}
.imgStar {
  display: flex;
}
.imgStar:hover {
  cursor: pointer;
  color: rgba(250, 189, 5);
}
.imgStar img {
  margin-right: 6px;
  margin-bottom: 10px;
  width: 8%;
}
.imgStar > div:last-child {
  margin-left: 4px;
}
.stars {
  color: rgba(250, 189, 5);
}
.brand {
  margin-top: 30px;
  border-top: 2px solid rgba(237, 236, 236, 0.852);
}
.brand > diV:first-child {
  margin: 20px 0px;
  font-family: Oswald;
  font-size: 1.125rem;
  font-weight: 550;
}
.findBrand {
  padding: 10px;
  border: 1px solid rgb(237, 234, 234);
  border-radius: 35px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.search {
  font-size: 20px;
  color: rgb(146, 144, 144);
}
.findBrand input {
  border: none;
  width: 90%;
}
.checkbox {
  margin-bottom: 10px;
  display: flex;
  text-align: center;
}
.checkbox input {
  width: 18px;
}
.checkbox div {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: 12px;
  color: rgb(89, 88, 88);
}
.seeMore {
  display: flex;
  justify-content: center;
}
.seeMore > div:first-child {
  margin-right: 6px;
  font-size: 0.97rem;
  font-style: italic;
  line-height: 1.25rem;
  text-decoration: underline;
  color: rgb(89, 88, 88);
}
.down {
  font-size: 12px;
}
.brandText {
  padding: 0px 30px;
  margin-top: 17px;
  border-top: 2px solid rgba(237, 236, 236, 0.852);
}
.brandText > div:first-child {
  font-size: 18px;
  color: rgb(165, 163, 163);
  padding: 12px 0px;
  margin-right: 6px;
  margin-top: 15px;
}
.text img {
  width: 25px;
  height: 25px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 1px solid rgb(188, 186, 186);
}
/* Responsive */
@media screen and (max-width: 768px) {
  .pageProduct {
    padding: 0px 20px;
  }
  .category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .detailCategory {
    text-align: center;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .detailCategory div {
    margin-bottom: 15px;
    margin-right: 0px;
    width: 100%;
  }
  .nameProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nameProduct span {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  .numberPrice {
    display: block;
    text-align: center;
  }
  .priceRange {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }
  .priceRange span {
    margin-bottom: 8px;
  }
  .priceRange span:nth-child(3) {
    margin-left: 0px;
  }
  .selectPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .selectPrice span {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .button {
    display: flex;
    justify-content: center;
  }
  .listProduct {
  }
  .itemProduct {
    width: 50%;
  }
  .percent {
    margin-bottom: 10px;
    font-size: 10px;
  }
  .percent span {
    font-size: 9px;
  }
  .stickerPercen > div:last-child {
    border-left: 20px solid transparent;
    border-right: 21px solid transparent;
    border-top: 18px solid #e54d3e;
    border-radius: 2px;
    top: 96%;
  }
}
