.pageAccount {
  display: flex;
  margin: auto;
  max-width: 1200px;
}
.accountInformation {
  width: 70%;
}
.accountInformation > div:first-child {
  padding: 40px 0px 20px 0px;
  margin-left: 20px;
  font-family: 'Oswald';
  font-weight: 600;
  font-size: 20px;
}
.login {
  padding: 18px;
  background-color: white;
}
.formLogin {
  width: 70%;
}
.formLogin input {
  padding: 10px;
}
.btnUpdate {
  height: 40px;
  color: white !important;
  font-size: 17px;
  background-color: #1677ff;
  margin-bottom: 10px;
}
.btnUpdate:hover {
  filter: brightness(0.7);
}

@media screen and (max-width: 768px) {
  .accountInformation {
    width: 100%;
    position: absolute;
    margin: auto;
  }
  .formLogin {
    width: 100%;
  }
  .accountInformation > div:first-child {
    padding: 0px;
  }
  .btnUpdate {
    height: 50px !important;
    width: 100%;
  }
}
